.note
{
    border: 5px solid lightgrey;
    background-color: white;
    color: black;
    margin-bottom: 25px;
    max-width: 1000px;
    text-align: left;
    padding:20px;
}

.note h1
{
    color: grey;
    font-size: 24px;
    font-family: fantasy;
}

.note p
{
    font-size: 16px;
}

.closingButton
{
    height: 40px !important;
    width: 40px !important;
    background-color: indianred !important;
    line-height: 40px !important;
}

.closingButton:hover
{
    background-color: red !important;
}